.nav-bar {
	border-bottom: 1px solid black;
    color: black;
    background-color: chartreuse;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.nav-link,
.nav {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-link:hover {
	color: rgb(13, 14, 14);
}

.title {
	font-size: 18px;
	margin: 0 auto;
	line-height: 1.2;
}