.card {
	max-height: 545px;
	border: 1px #333 solid;
	border-radius: 4px;
	overflow-x: hidden;
	padding: 10px;
	margin: 0;
}

.card:last-child {
	border-bottom: none;
}

.card-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.card-title h2,
h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.card a {
	float: right;
	padding: 7px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 2px;
	margin: 3px;
}

.card a:hover {
	background-color: skyblue;
	color: white;
	border-color: white;
}

.card a:active {
	background-color: white;
	border-color: black;
	color: black
}

.card-body img {
	float: left;
	margin-right: 10px;
}